# ITMGT 25.03 EE
# Assignment 3B

This is a data-cleaning assignment and is the second of two parts. This notebook is uploaded to our Github repository along with a csv of fake, dirty data called **recweekdata.csv**.

In addition, you have a new file called **studentprofiles.csv** which has first and last names plus the genders of the students.

The output of this assignment is to convert recweekdata.csv into processable data for statistics. Submit the following files through GitHub:
1. A cleaned recweekdata.csv called **cleanrecweekdata3b.csv** **(5 points)**
2. This notebook, containing the code (properly commented) that you used to clean the data **(5 points)**
3. An html file of summary statistics from each column called **stats3b.html**. The requirements for the summary statistics are described below. **(10 points)**

The outputs are similar to that of Assignment 3A, except that you will now use Pandas instead of Python lists.

This entire assignment (3B) is worth 20 points.

Upload your output files to your Github repositories. Make sure to send an email to **joben.ilagan@gmail.com** once you're done.

This assignment is due on **Monday, July 9, 2019** at 12:00NN.

Note: I understand you all need to review for LT 2. Think of this Assignment as practice. It's not meant to take you as long as 3A.

#### Bonus Points:
* +2 if submitted over (or before) the weekend (July 13-14)
* +2 if CSS and div tags are used (but please don't spend too much time on this because you still need to review for the Long Test)

In [8]:
import pandas as pd

import re

In [9]:
data = pd.read_csv("recweekdata.csv")
data.columns

Index(['firstname', 'lastname', 'birthmonth', 'birthday', 'birthyear',
       'course', 'phonenumber'],
      dtype='object')

In [10]:
## adding the genders to the main recweek file
data2 = pd.read_csv("studentprofiles.csv")

data2.loc[:,"gender"]

data["gender"] = data2.loc[:,"gender"]

## adding carriers to the main recweek  file

data.columns

Index(['firstname', 'lastname', 'birthmonth', 'birthday', 'birthyear',
       'course', 'phonenumber', 'gender'],
      dtype='object')

In [11]:
## Code goes here

#Cleansing dictionaries

dic_month = {'11': 'November', '8': 'August', 'November': 'November', '3': 'March', 'April': 'April', '4': 'April', 'Oct': 'October', 'December': 'December', '12': 'December', '5': 'May', 'Aug': 'August', 'Jul': 'July', 'Mar': 'March', '10': 'October', '7': 'July', 'March': 'March', 'July': 'July', '1': 'January', 'Sep': 'September', 'August': 'August', 'January': 'January', 'Nov': 'November', '6': 'June', 'Apr': 'April', '9': 'September', '2': 'February', 'Jun': 'June', 'Dec': 'December', 'May': 'May', 'February': 'February', 'Feb': 'February', 'June': 'June', 'September': 'September', 'Jan': 'January'}
dic_year = {'99': '99', '1997': '97', '97': '97', '1999': '99', '2001': '01', '1998': '98', '2000': '00', '98': '98'}
dic_course = {'BS LM': 'BS Legal Management', 'Management': 'BS Management', 'BS ME': 'BS Management Engineering', 'LM': 'BS Legal Management', 'MGT': 'BS Management', 'ME': 'BS Management Engineering', 'Management Engineering': 'BS Management Engineering', 'ITE': 'BS IT Entrepreneurship', 'BS MGT': 'BS Management', 'CTM': 'BS Comtech', 'Information Technology Entrepreneurship': 'BS IT Entrepreneurship', 'Legal Management': 'BS Legal Management', 'BS ITE': 'BS IT Entrepreneurship', 'BS CTM': 'BS Comtech', 'Communications Technology': 'BS Comtech'}
dic_carrier = {"0917":"Globe","0918":"Smart", "0927":"Globe"}
#Cleansing phonenumbers
phone = data.loc[:,'phonenumber'].replace(r"^\+63 9?|^9","09",regex=True)

In [12]:
#Converting int to str for dic_year

def test(x):
    word = str(x)
    return(dic_year[word])
test(99)

#Cleansing birthmonths,years,and courses = (df.loc[:,"mobile"].str[0:6].apply(lambda x: carrier[x]))
month = data.loc[:,'birthmonth'].apply(lambda x: dic_month[x])
year =data.loc[:,'birthyear'].apply(lambda x: test(x))
course =data.loc[:,'course'].apply(lambda x: dic_course[x])

#Calling other data that don't need to be cleansed from the dirty data base
#['firstname', 'lastname', 'birthmonth', 'birthday', 'birthyear','course', 'phonenumber','gender'],
first = data.loc[:,"firstname"]
last = data.loc[:,"lastname"]
day =data.loc[:,"birthday"]
gender =data.loc[:,"gender"]

In [13]:
##rearranging cleansed data and then writing them into a csv
clean = pd.DataFrame({"First Name":[x for x in first],"Last Name":[x for x in last],"Birthday":[x for x in day],"Birthmonth":[x for x in month],"Birthyear":[x for x in year],"Course":[x for x in course],"Phonenumber":[x for x in phone],"Gender":[x for x in gender]})

In [14]:
#getting carrier
clean["Carrier"] = clean.loc[:,"Phonenumber"].str[0:4].apply(lambda x: dic_carrier[x])

In [122]:
clean.to_csv("cleanrecweekdata3b.csv")

In [16]:
#different stat data
birthmonth_df = clean.groupby(["Birthmonth"])["Last Name"].count()
birthday_df = clean.groupby(["Birthday"])["Last Name"].count()
birthyear_df = clean.groupby(["Birthyear"])["Last Name"].count()
course_df = clean.groupby(["Course"])["Last Name"].count()
carrier_df = clean.groupby(["Carrier"])["Last Name"].count()
gender_carrier =clean.groupby(["Carrier","Gender"])["Last Name"].count()

# Required Summary Statistics

#### These were the questions from 3A:

1. How many people were born in each month?
2. How many people were born on each day?
3. How many people were born in each year?
4. How many people come from each course?
5. How many people have numbers from Globe (0917 or 0927) and Smart (0918)? *Note: it's up to you how to format this output*

#### Additional Questions:
* How many Globe subscribers are: Male? Female?
* How many Smart subscribers are: Male? Female?

Answer these questions in an html file called **stats3b.html**. The format of the html is as follows (in template form, so you can use this as format string in your program, though feel free to modify with variable names if you find it easier to do so):

# Panda - HTML translation

In [118]:
html = """
    <html>
    
         <head>Summary Statistics
         <style>table, th, td {{border: 1px solid black;}}</style>
</head>
  </head>
   <body>    
             <h3>People born in each month</h3>
              {0}
              <h3>People born in each day</h3>
              {1}
              <h3>People born in each year</h3>
              {2}
              <h3>People in each course</h3>
              {3}
              <h3>People using each carrier</h3>
              {4}
              <h3>Carrier users by Gender</h3>
              {5}
              
    </body>
</html>
"""

In [111]:

birth_list = ["January","February","March","April","May","June","July",
                      "August","September","October","November","December"]

#for i in birthmonth_df:
    #print(i)
    
month_html = "<table><tr><th>Months</th><th>No. of People</th></tr>"
for month in birth_list:
    amount = birthmonth_df[month]
    placeh = '<tr><td>{0}</td><td>{1}</td></tr>'.format(month,amount)
    month_html += placeh
    
month_html += '</table>'

In [112]:

#for i in birthmonth_df:
    #print(i)
    
day_html = '<table><tr><th>Days</th><th>No. of People</th></tr>'
for day in range(1,29):
    day_str = str(day)
    amount = birthday_df[day]
    placeh = '<tr><td>{0}</td><td>{1}</td></tr>'.format(day_str,amount)
    day_html += placeh
    
day_html += '</table>'

In [113]:
year_list = ["97","98","99","00","01"]
year_html = '<table><tr><th>Years</th><th>No. of People</th></tr>'
for year in year_list:
    amount = birthyear_df[year]
    placeh = '<tr><td>{0}</td><td>{1}</td></tr>'.format(year,amount)
    year_html += placeh
    
year_html += '</table>'

In [114]:
#BS Comtech                    589
#BS IT Entrepreneurship        590
#BS Legal Management           585
#BS Management                 629
#BS Management Engineering     408

course_list = ["BS Comtech","BS IT Entrepreneurship","BS Legal Management","BS Management Engineering"]
course_html = '<table><tr><th>College Course</th><th>No. of People</th></tr>'
for course in course_list:
    amount = course_df[course]
    placeh = '<tr><td>{0}</td><td>{1}</td></tr>'.format(course,amount)
    course_html += placeh
    
course_html += '</table>'

In [115]:
carrier_list = ["Globe","Smart"]
carrier_html = '<table><tr><th>Carrier</th><th>No. of People</th></tr>'
for carrier in carrier_list:
    amount = carrier_df[carrier]
    placeh = '<tr><td>{0}</td><td>{1}</td></tr>'.format(carrier,amount)
    carrier_html += placeh
    
carrier_html += '</table>'

In [116]:
##<tr>
    #<th rowspan="2">Telephone:</th>
    #<td>55577854</td>
 # </tr>
 # <tr>
    #<td>55577855</td>
#gender_carrier["Globe"]["Male"]

gender_list = ["Male","Female"]
gcarrier_html = '<table><tr><th>Carrier</th><th>Gender</th><th>No. of People</th></tr>'
for carrier in carrier_list:
    placeg = '<tr><th rowspan="2">{0}</th>'.format(carrier)
    gcarrier_html += placeg
    for gender in gender_list:
        amount = gender_carrier[carrier][gender]
        
        if gender == "Male":
            placeh = '<td>{0}</td><td>{1}</td></tr>'.format(gender,amount)
            gcarrier_html += placeh
        elif gender == "Female":
            placef = '<tr><td>{0}</td><td>{1}</td></tr>'.format(gender,amount)
            gcarrier_html += placef
gcarrier_html += '</table>'

In [119]:
final_html = html.format(month_html,day_html,year_html,course_html,carrier_html,gcarrier_html)

In [120]:
with open("stats3b.html","w") as file:
    file.write(final_html)

```
<html>
    <body>
         <h2>Summary Statistics</h2>
         <table>
             <tr><th>Stat</th><th>Value</th></tr>
             <tr><td>People born in each month</td><td>{}</td></tr>
             <tr><td>People born on each day</td><td>{}</td></tr>
             <tr><td>People born in each year</td><td>{}</td></tr>
             <tr><td>People coming from each course</td><td>{}</td></tr>
             <tr><td>People having numbers from Globe and Smart</td><td>{}</td></tr>
             <tr><td>Male Globe subscribers:</td><td>{}</td></tr>
             <tr><td>Female Globe subscribers:</td><td>{}</td></tr>
             <tr><td>Male Smart subscribers:</td><td>{}</td></tr>
             <tr><td>Female Smart subscribers:</td><td>{}</td></tr>
         </table>
    </body>
</html>
```